<section #presentacion class="h-screen py-20">
    <h1 class="pb-2">{{titulo}} </h1>
    <div class="text-gray-500 text-[13px]">
        <h3>Autor: Fabián Catalán</h3>
        <h4 class="text-[14px]">23 de Diciembre de 2023</h4>
    </div>

    <section #introduccion class="pt-8">
        <div class="rounded-xl border-2 border-primary-200 m-2 my-6 p-4">
            <p><mark>Objetivo</mark>: Entender y crear un componente estilizado con Tailwind y el sistema de
                diseño
                Tailwind Elements en Angular.</p>
        </div>
        <p class="pt-4"> Al definir los estilos de los elementos de una página,
            es frecuente ver extensas líneas horizontales con clases de Tailwind, que a menudo, se expanden
            según
            las necesidades de diseño
            que se desee obtener en un elemento de página. Cuando este elemento estilizado se usa en varias
            partes
            del proyecto, genera
            demasiados bytes de código repetido. Veremos cómo optimizar y limpiar el código fuente de las
            repetitivas configuraciones visuales
            con el uso de componentes contextuales.
        </p>
    </section>
</section>

<section #knowrebuttons class="h-screen">
    <div class=" flex flex-col gap-2">
        <h2 class="pb-6">Dile hola a los
            <span
                class="px-1 mx-2 animate animate-wiggle before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-primary-700 relative inline-block">
                <span class="relative text-white">ReButtons!</span>
            </span>
        </h2>
        <div class="pt-6 flex flex-row gap-2">
            <ux-button
                [options]="{texto:'Primary', uppercase: true, click: null, contexto: null, color:'primary',svg:null}"></ux-button>
            <ux-button
                [options]="{texto:'secondary', uppercase: true, click: null, contexto: null, color:'secondary',svg:null}"></ux-button>
            <ux-button
                [options]="{texto:'tertiary', uppercase: true, click: null, contexto: null, color:'tertiary',svg:null}"></ux-button>
        </div>
        <div class="flex flex-row gap-2">
            <ux-button
                [options]="{texto:'primary', uppercase: true, click: null, contexto: null, color:'primary outlined',svg:null}"></ux-button>
            <ux-button
                [options]="{texto:'secondary', uppercase: true, click: null, contexto: null, color:'secondary outlined',svg:null}"></ux-button>
            <ux-button
                [options]="{texto:'tertiary', uppercase: true, click: null, contexto: null, color:'terciary outlined',svg:null}"></ux-button>
        </div>
    </div>

    <section #ejemplo class="py-8">
        <img class="py-4" src="../../../../assets/blogs/reboton/reboton1.png" alt="reboton1">
        <p class="text-gray-600 text-[14px]">Este fragmento de código estiliza los botones que están arriba.
            Imagínate que sin esta estrategia que te presentaré hubiese repetido <mark>seis veces</mark> el código.</p>

        <p class="py-6"> Te adelanto!, la forma de llamar al componente del primer botón azulado es como sigue:</p>
        <div class="flex justify-center">
            <img src="../../../../assets/blogs/reboton/codebtnprimary.png" alt="adelanto">
        </div>
    </section>
</section>

<section #interlude class="h-screen">
    <h2 class="pb-8">Qué, porqué, para qué y cómo hacer un
        <span
            class="px-1 mx-2 before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-primary-700 relative inline-block">
            <span class="relative text-white">ReButtons!</span>
        </span>
    </h2>

    <h3 class="py-6">Qué es?</h3>
    <p>Un componente contextual estilizado de un botón en Angular. Lo llamo contextual porque recibe el contexto
        del padre como parámetro para que al traspasar las funciones (que podrían manejar variables de la clase
        padre)
        no se pierda el contexto <b>this</b> original y evitar así usar los <b>ng-templates.</b> Lo veremos con
        detalle más adelante. </p>

    <h3 class="py-6">Porqué hacer este componente?</h3>
    <p> Sabiendo que hay varias herramientas de diseño gratuitas y de pago que traen plantillas listas para
        usar, la idea es
        aprender a usar componentes reutilizables en Angular, entender la estrategia contextual, aprender a usar
        el <b>ng-class</b> y simplificar la complejidad de usar templates (al menos, para botones simples)
    </p>
    <h3 class="py-6">Para qué hacer este componente?</h3>
    <p>Para mejorar tus habilidades de frontend, para crear nuevas plantillas o sistemas de diseño en Angular,
        mejorar la lectura (readability), reutilización de código y
        para crear tus propios diseños controlados por tu propio componente, qué mejor!</p>
</section>

<section #howto class="h-screen">
    <h2>Cómo hacer el componente contextual desde cero?</h2>
    <h3>Roadmap</h3>
    <ul class="list-decimal list-outside p-4">
        <li>Crear el proyecto Angular</li>
        <li>Instala Tailwind & Tailwind Elements</li>
        <li></li>
    </ul>
    <p></p>
</section>