<div class="py-8  flex justify-center bg-slate-100">
    <div class="w-[44%]">
      <h1 class="pb-2">{{titulo}} </h1>
      <div class="text-gray-500 text-[12px]">
        <h3>Autor: Fabián Catalán</h3>
        <h4 class="text-[13px]">23 de Diciembre de 2023</h4>
      </div>
  
      <section #introduccion class="pt-8">
        <p> Al definir los estilos de los elementos de una página,
           es frecuente ver extensas líneas horizontales con clases de Tailwind, que a menudo, se expanden según las necesidades de diseño 
           que se desee obtener en un elemento de página. Cuando este elemento estilizado se usa en varias partes del proyecto, genera
           demasiados bytes de código repetido. Veremos cómo optimizar y limpiar el código fuente de las repetitivas configuraciones visuales
            con el uso de componentes contextuales.
        </p>
        
      </section>

      <div class="py-8 flex flex-col gap-2">
        <h2 class="pb-4">Dile hola a los: <mark  class ="px-2 rounded-br-2xl bg-primary-700 text-primary-50">ReButtons!</mark> </h2>
        <div class="flex flex-row gap-2">
          <ux-button
            [options]="{texto:'Primary', uppercase: true, click: null, contexto: null, color:'primary',svg:null}"></ux-button>
          <ux-button
            [options]="{texto:'secondary', uppercase: true, click: null, contexto: null, color:'secondary',svg:null}"></ux-button>
          <ux-button
            [options]="{texto:'tertiary', uppercase: true, click: null, contexto: null, color:'tertiary',svg:null}"></ux-button>
        </div>
        <div class="flex flex-row gap-2">
          <ux-button
            [options]="{texto:'primary', uppercase: true, click: null, contexto: null, color:'primary outlined',svg:null}"></ux-button>
          <ux-button
            [options]="{texto:'secondary', uppercase: true, click: null, contexto: null, color:'secondary outlined',svg:null}"></ux-button>
          <ux-button
            [options]="{texto:'tertiary', uppercase: true, click: null, contexto: null, color:'terciary outlined',svg:null}"></ux-button>
        </div>
      </div>

      <section #ejemplo class="pb-8">
        <img src="../../../../assets/blogs/reboton/reboton1.png" alt="">
        <p class="text-gray-600 text-[16px]">Este fragmento de código estiliza los botones que están arriba. Imagínate que sin esta estrategia hubiera repetido doce veces el código</p>
      </section>
  
      
    </div>
  </div>