<nav class="h-14 flex justify-center rounded-b-full bg-primary-100">
    <div class="py-4 flex flex-col">
        <span
        class=" before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-primary-700 relative inline-block">
        <h2 class="relative text-white text-[36px]">GNEH!</h2>
    </span>
    <h5 class="text-primary-900">by fabo</h5>
    </div>
</nav>


<div class="py-8  flex justify-center">
    <div class="w-[44%] py-8 scroll-smooth">
        <app-reboton ></app-reboton>
    </div>
</div>